
.icon-road:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */